
      
      
    

.intro {
    text-align: center;
}
.b1, .b3 {
    
    background-color: lightgray;
}
.b2 {
    
    
}
.pie {
    background-color: lightgray;
    text-align: center;
}
.imagen{
    width: 20%;
    border-radius: 50%;

}

.navbar {
    padding: 0;
}
.carro {
    width:450px;
     height: 300px;
}
.infoimagen{
    width: 440;
    height: 300px;
}
.infoimagensm{
    width: 300px;
    height: 200px;
}
